# Ignore node_modules for JourFlowApp
JourFlowApp/node_modules/
JourFlowApp/ios/
JourFlowApp/.vscode/
JourFlowApp/android/
JourFlowApp/.expo/
JourFlowApp/eas.json
JourFlowApp/app.json
JourFlowApp/package.json
JourFlowApp/.env

# Ignore build and log files for ASP.NET
JourFLow_BE/.vscode/
JourFLow_BE/JourFlow_BE.sln
JourFLow_BE/JourFlow_BE/bin/
JourFLow_BE/JourFlow_BE/bin/Debug
JourFLow_BE/JourFlow_BE/obj/
JourFLow_BE/JourFlow_BE/appsettings.json
JourFLow_BE/JourFlow_BE/Migrations



# Ignore system files
.DS_Store
Thumbs.db