# Ignore node_modules for JourFlowApp
JourFlowApp/node_modules/
JourFlowApp/ios/
JourFlowApp/android/
JourFlowApp/.expo/
JourFlowApp/eas.json
JourFlowApp/app.json
JourFlowApp/package.json


# Ignore build and log files for ASP.NET
JourFlowServer/bin/
JourFlowServer/obj/
JourFlowServer/*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment/config files if needed
.env