# Ignore node_modules for JourFlowApp
JourFlowApp/node_modules/

# Ignore build and log files for ASP.NET
JourFlowServer/bin/
JourFlowServer/obj/
JourFlowServer/*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment/config files if needed
.env